.card1 {
    background-image: url("../multimedia/card1.jpg");
}
.card2 {
    background-image: url("../multimedia/card2.jpg");
}
.card3 {
    background-image: url("../multimedia/card3.jpg");
}
.card4 {
    background-image: url("../multimedia/card4.jpg");
}

.btncard1 {
    margin-top: 13vh;
}
.btncard2 {
    margin-top: 7vh;
}
.btncard3 {
    margin-top: 18vh;
}