.card1 {
  background-image: url("../multimedia/card1.jpg");
  width: 23rem;
}

.card3 {
  background-image: url("../multimedia/card3.jpg");
  width: 23rem;
}
.card4 {
  background-image: url("../multimedia/card4.jpg");
  width: 23rem;
}

.btncard1 {
  margin-top: 13vh;
}
.btncard2 {
  margin-top: 7vh;
}
.btncard3 {
  margin-top: 18vh;
}
